<!-- Visible solo en móvil -->
    <div class="md:hidden flex flex-col w-full justify-center items-center bg-rose-300 p-8 pt-12 max-h-[90%] h-[95%] text-white rounded-b-2xl">
      <img src="https://i.ibb.co/VYzXPMv7/iconTemp.png" alt="Logo en versión móvil" class="block md:hidden w-24 mx-auto mb-4" />
      <h1 class="text-3xl font-semibold text-center mt-4 text-white">Bienvenido</h1>
      <p class="text-center text-sm opacity-80 mt-4 px-4 text-white">
        Accede al panel de administración del hospital
      </p>
    </div>