<div
      class="hidden md:flex flex-col justify-center items-center bg-rose-400 p-8 h-screen mb-40 text-white shadow-lg mr-[-2rem] z-0 w-[450px] rounded-b-4xl self-start animate-fade-on"
    >
      <img src="https://i.ibb.co/VYzXPMv7/iconTemp.png" alt="Illustration" class="w-65" />
      <h1 class="text-3xl font-semibold text-center mt-4">Bienvenido</h1>
      <p class="text-center text-sm opacity-80 mt-4 px-4">
        Accede a tu cuenta o crea una nueva para disfrutar de todas las
        funcionalidades que ofrecemos.
      </p>
    </div>
