<form [formGroup]="formGroup" class="space-y-3">
  
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" placeholder="tu@correo.com" />
    <mat-icon matSuffix>person</mat-icon>
    @if (emailInput.hasError('required')) {
      <mat-error>The email is required.</mat-error>
    }
    @if(emailInput.hasError('email')) {
      <mat-error>Incorrect email format.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="••••••••" />
    <mat-icon matSuffix>lock</mat-icon>
    @if(passwordInput.hasError('required')) {
      <mat-error>The password is required.</mat-error>
    }
  </mat-form-field>

  <div class="flex justify-between items-center text-xs">
    <mat-checkbox class="!text-gray-700">Remind me</mat-checkbox>
    <a class="text-rose-500 hover:underline cursor-pointer">Forgot your password?</a>
  </div>

  <button mat-raised-button 
          color="primary" 
          type="submit" 
          class="w-full !bg-rose-300 hover:!bg-rose-400 !text-white !py-2 h-12"
          (click)="login()"
          [disabled]="formGroup.invalid || isLoading">
    @if (isLoading) {
      <mat-spinner [diameter]="24" color="accent" class="mx-auto"></mat-spinner>
    } @else {
      <span>Login</span>
    }
  </button>
</form>