<aside 
  class="hidden lg:flex sidebar-container bg-white shadow-lg rounded-r-3xl flex-col p-4 text-gray-700 h-full"
  [class.w-24]="!isExpanded" 
  [class.w-64]="isExpanded"
  (mouseenter)="isExpanded = true" 
  (mouseleave)="isExpanded = false">

  @if (user()) {
    <div class="flex items-center mb-8" [class.justify-center]="!isExpanded">
      <img [src]="user()?.avatar" [alt]="user()?.name" class="rounded-full w-12 h-12">
      @if (isExpanded) {
        <div class="ml-4 sidebar-text">
          <p class="font-bold text-sm">{{ user()?.name }}</p>
          <p class="text-xs text-gray-500 capitalize">{{ user()?.role }}</p>
        </div>
      }
    </div>
  }

  <nav class="flex-grow space-y-2">
    <a (click)="setActiveRoute('Home')" [class.bg-rose-100]="activeRoute === 'Home'" [class.text-rose-600]="activeRoute === 'Home'" class="flex items-center p-3 rounded-lg hover:bg-rose-50 cursor-pointer">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/></svg>
      @if (isExpanded) {
        <span class="ml-4 font-semibold text-sm sidebar-text">Home</span>
      }
    </a>
    </nav>

  @if (user()) {
    <div class="mt-auto">
      <a (click)="logout()" class="flex items-center p-3 rounded-lg hover:bg-rose-50 cursor-pointer">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/></svg>
        @if (isExpanded) {
          <span class="ml-4 font-semibold text-sm sidebar-text">Logout</span>
        }
      </a>
    </div>
  }
</aside>