<aside 
  class="hidden lg:flex top-0 left-0 h-screen sidebar-container bg-white shadow-lg rounded-r-3xl flex-col p-4 text-gray-700"
  [class.w-24]="!isExpanded" 
  [class.w-64]="isExpanded"
  (mouseenter)="isExpanded = true" 
  (mouseleave)="isExpanded = false">


  @if (user()) {
    <div class="flex items-center mb-8" [class.justify-center]="!isExpanded">
      <img [src]="user()?.avatar" [alt]="user()?.name" class="rounded-full w-12 h-12">
      @if (isExpanded) {
        <div class="ml-4 sidebar-text">
          <p class="font-bold text-sm">{{ user()?.name }}</p>
          <p class="text-xs text-gray-500 capitalize">{{ user()?.role }}</p>
        </div>
      }
    </div>
  }

  <nav class="flex-grow space-y-2">
    <a routerLink="/landing/products" (click)="setActiveRoute('Home')" [class.bg-rose-100]="activeRoute === 'Home'" [class.text-rose-600]="activeRoute === 'Home'" class="flex items-center p-3 rounded-lg hover:bg-rose-50 cursor-pointer">
      <mat-icon>home</mat-icon>
      @if (isExpanded) {
        <span class="ml-4 font-semibold text-sm sidebar-text">Home</span>
      }
    </a>
    <a 
    routerLink="/landing/categories"
    (click)="setActiveRoute('Categories')"
    [class.bg-rose-100]="activeRoute === 'Categories'"
    [class.text-rose-600]="activeRoute === 'Categories'"
    class="flex items-center p-3 rounded-lg hover:bg-rose-50 cursor-pointer">
    
    <mat-icon>category</mat-icon>
    
    @if (isExpanded) {
      <span class="ml-4 font-semibold text-sm sidebar-text">Categories</span>
    }
  </a>
    <a routerLink="/landing/cart" (click)="setActiveRoute('Cart')" [class.bg-rose-100]="activeRoute === 'Cart'" [class.text-rose-600]="activeRoute === 'Cart'" class="flex items-center p-3 rounded-lg hover:bg-rose-50 cursor-pointer">
      <mat-icon>shopping_cart</mat-icon>
      @if (isExpanded) {
        <span class="ml-4 font-semibold text-sm sidebar-text">Cart</span>
      }
    </a>
    <a 
      routerLink="/landing/profile"
      (click)="setActiveRoute('Profile')"
      [class.bg-rose-100]="activeRoute === 'Profile'"
      [class.text-rose-600]="activeRoute === 'Profile'"
      class="flex items-center p-3 rounded-lg hover:bg-rose-50 cursor-pointer">
      
      <mat-icon>account_circle</mat-icon>
      
      @if (isExpanded) {
        <span class="ml-4 font-semibold text-sm sidebar-text">My profile</span>
      }
    </a>
    @if (user()) {
      <div class="mt-auto">
        </div>
    }
    </nav>

  @if (user()) {
    <div class="mt-auto">
      <a (click)="logout()" class="flex items-center p-3 rounded-lg hover:bg-rose-50 cursor-pointer">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"/></svg>
        @if (isExpanded) {
          <span class="ml-4 font-semibold text-sm sidebar-text">Logout</span>
        }
      </a>
    </div>
  }
</aside>