<form [formGroup]="formGroup" class="space-y-3">
  
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" type="text" placeholder="Your name">
    <mat-icon matSuffix>badge</mat-icon>
    @if (nameInput.hasError('required')) {
      <mat-error>Name is required.</mat-error>
    }
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" placeholder="your@email.com">
    <mat-icon matSuffix>email</mat-icon>
    @if (emailInput.hasError('required')) {
      <mat-error>Email is required.</mat-error>
    }
    @if(emailInput.hasError('email')) {
      <mat-error>Incorrect email format.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="••••••••">
    <mat-icon matSuffix>lock</mat-icon>
    @if(passwordInput.hasError('required')) {
      <mat-error>Password is required.</mat-error>
    }
     @if(passwordInput.hasError('minlength')) {
      <mat-error>Password must be at least 4 characters long.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Avatar URL</mat-label>
    <input matInput formControlName="avatar" type="text" placeholder="https://your-image.com/avatar.png">
    <mat-icon matSuffix>image</mat-icon>
    @if(avatarInput.hasError('required')) {
      <mat-error>Avatar URL is required.</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button 
          color="primary" 
          type="submit" 
          class="w-full !bg-rose-300 hover:!bg-rose-400 !text-white !py-2 h-12"
          (click)="register()"
          [disabled]="formGroup.invalid || isLoading">
    @if (isLoading) {
      <mat-spinner [diameter]="24" color="accent" class="mx-auto"></mat-spinner>
    } @else {
      <span>Create Account</span>
    }
  </button>
</form>