<form class="space-y-3" (submit)="$event.preventDefault()">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Tu nombre" />
            <mat-icon matSuffix>badge</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Tu usuario" />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Correo</mat-label>
            <input matInput type="email" placeholder="tucorreo@ejemplo.com" />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="••••••••" />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>

          <button mat-raised-button color="primary" class="w-full !bg-rose-400 hover:!bg-rose-500 !text-white !py-2">
            Crear cuenta
          </button>

          <p class="text-xs text-right mt-4 text-gray-800">
            ¿Ya tienes una cuenta?
            <a class="text-rose-500 hover:underline cursor-pointer">Iniciar sesión</a>
          </p>
          <p class="text-xs text-left mt-4 text-gray-800">
            <a class="text-rose-500 hover:underline flex items-center gap-1 cursor-pointer">← Volver a inicio</a>
          </p>
        </form>